<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
<!-- Index CSS -->
<link rel="stylesheet" href="css/index.css" />
<title>Catering Siw home page</title>
</head>

<body>
	<section class="header">
		<div class="container">
		<nav class="navbar navbar-expand-lg navbar-dark ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Catering SIW</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link act" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#chef">Chef</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#buffet">Buffet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contatti">Contatti</a>
        </li>
        <li class="signin-button">
          <a class="signin-button" href="/login">Admin</a>  
         </li>
        
      </ul>
    </div>
  </div>
</nav>
		
		
		<div class="middle">
		<h1 class="text-white fw-bold display-3"> Affidati ai professionisti, affidati a <span class="theme-text">Catering SIW </span></h1>
		</div>
		</div>
	</section>
	<section id="chef" class="flex-container">
	<div class="flex-image-item">
      	<div id="immagine_chef"></div>
      </div>
      <div class="flex-text-item">
      	<strong class="intestazione">I NOSTRI CHEF</strong>
      	<p class="paragrafo">
      	Catering-SIW è sinonimo di qualità dunque selezionamo solamente il top di gamma.
      	I nostri chef sono riconosciuti tra i migliori al mondo e sono tutti a tua disposizione per rendere il tuo evento UNICO! .
      	Abbiamo cucine di ogni genere a partire dalla cucina italiana tradizionale a quella etnica e anche il fusion.
      	Vieni a visualizzare la lista dei nostri chef e i buffet che offrono.</p>
      	<a class="info_button" href="/user/all_Chefs">vedi i chef</a>
      </div>
	</section>
	<section id="buffet" class="flex-container">
	<div class="flex-text-item">
      	<strong class="intestazione">I NOSTRI BUFFET</strong>
      	<p class="paragrafo">Massima attenzione alle richieste del cliente, rispetto, educazione, accoglienza, passione per il cibo, elevata qualità
      	 delle materie prime, tradizione e innovazione, stile, design, attenzione ai minimi dettagli sono gli ingredienti chiave del nostro successo.</p>
      	<a class="info_button" href="/user/all_Buffets">vedi i menu</a>
      </div>
      <div class="flex-image-item">
      	<div id="immagine_buffet"></div>
      </div>
	</section>
	<footer>
		<div id="contatti">
			<div class="contatti">
				<h2>CONTATTI</h2>

				<div class="white-text">
			      <strong>Indirizzo:</strong> Via Sistemi Informativi sul Web, 123, 00143 Roma (RM) 
			    </div>

			    <div class="white-text">
			    	<strong>Telefono:</strong> 06 50513232
			    </div>

			    <div class="white-text">
			    	<strong>Email:</strong> catering.siw@gmail.com
			    </div>

			</div>
			<div class="contatti">
				<h2>SOCIAL</h2>
			    <div>
			     <a class="other_button" href="https://www.instagram.com/"><strong>Instagram:</strong>@CateringSiw</a>
			    </div>

			    <div>
			    	<a class="other_button" href="https://www.facebook.com/"><strong>Facebook:</strong>@CateringSiw</a>
			    </div>
			</div>
		</div>
	</footer>
	<!-- Bootstrap JS -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>
</body>
</html>