<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>I nostri Buffet</title>
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
	<header id="header-buffet">
		<nav class="navbar navbar-expand-lg navbar-dark ">
  		<div class="container-fluid">
    		<strong class="navbar-brand">Catering Siw</strong>
    			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      			<span class="navbar-toggler-icon"></span>
    			</button>
    	<div class="collapse navbar-collapse" id="navbarNav">
      		<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        		<li class="nav-item">
          			<a class="nav-link active" aria-current="page" href="#"></a>
        		</li>
        		<li class="nav-item">
          			<a class="nav-link" href="/">Home</a>
        		</li>
      		</ul>
    	</div>
  	</div>
	</nav> 
		<br>
		<div class="container-informazioni" align="center">
			<br>
			<div>
				<h2 th:text="${piatto.nome}">NOME</h2>
				<h5 th:text="${piatto.descrizione}">DESCRIZIONE</h5>
				
				<div id="desc">
        	Ingredienti presenti nel piatto:
       <div align="center">
		<ul>
			<li th:each="ingrediente : ${piatto.ingredienti}" >

				<h5 th:text="${ingrediente.nome}"> </h5>
				<p th:text="'Descrizione: ' + ${ingrediente.descrizione}"> </p>
				<p th:text="'Origine: ' + ${ingrediente.origine}"> </p>
			</li>

		</ul>
		</div>
		</div>
		</div>

	</div>
			
		<br>
	</header>
	
</body>